* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    padding: 20px;
    background-color: #592175;
    border-bottom: 1px solid #ccc;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 30px;
}

/* título da área educativa */
#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    gap: 30px;
    margin-bottom: 30px;
}

#titulo h2{
    background-color: #592175;
    color: white;
    padding: 16px;
    border: 8px solid #25A85A;
    border-radius: 20px;
    width: 622px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* seções que contêm os cards */
.sla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 180px;
    margin-bottom: 30px;
}
.sla a{
    text-decoration: none;
    color: black;
}
/* card de conteúdo */
article.conteudo {
    background-color: white;
    width: 401px;
    height: 426px;
    border: 10px solid #25A85A;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

/* seção do quiz */
#quiz {
    border: 16px solid #38ad67;
    background-color: #388557;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    width: 929px;
    height: 120px;
    gap: 20px;
    padding: 50px;
    font-size: 1.3em;
    max-width: 800px;
    border-radius: 20px;
    color: white;
}

#quiz img {
    max-width: 300px;
}

#quiz a {
    text-align: center;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #592175;
    border: 5px solid white;
    padding: 16px;
    border-radius: 20px;
    width: 158px;
    height: 21px;
}

#quiz a:hover {
    background-color: black;
    color: #e6e6e6;
}
#izy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
    background-color: #592175;
    color: white;
    border-top: 1px solid #ccc;
}
