* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: white;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    padding: 20px;
    background-color: #592175;
    border-bottom: 1px solid #ccc;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 100px 20px;
}

#textos-inicio {
    color: #592175;
    text-align: center;
    font-size: 2em;
    margin-left: 30px;
    margin-right: 20px;
}

#lixeiras {
    display: flex;
    justify-content: space-evenly;
}

.lixo {
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    width: 360px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#dica-video {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.dica-texto {
    color: #592175;
    background-color: #ebebeb;
    padding: 10px;
    font-size: 2.1em;
    margin-left: 35px;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
}

.dica-texto ul {
    list-style: none;
}

.video {
    margin-top: 40px;
    margin-right: 50px;
}
#izy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
    background-color: #592175;
    color: white;
    border-top: 1px solid #ccc;
}
span{
    color: red;
}