*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
   background-color:#e6e6e6;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
}
#textos-inicio{
    font-size: 2em;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 20px;
}
#lixeiras{
    display: flex;
    justify-content: space-evenly;
}
.lixo{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 360px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#dica-video{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#dica-texto{
 font-size: 1.7em;
 margin-left: 35px;
}
